//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 17 10:28:25 2015
//! **************************************************************************

SCHEMATIC START;
COMP "C_out" LOCATE = SITE "G1" LEVEL 1;
COMP "AN0" LOCATE = SITE "F12" LEVEL 1;
COMP "AN1" LOCATE = SITE "J12" LEVEL 1;
COMP "AN2" LOCATE = SITE "M13" LEVEL 1;
COMP "AN3" LOCATE = SITE "K14" LEVEL 1;
COMP "Reset" LOCATE = SITE "A7" LEVEL 1;
COMP "segA" LOCATE = SITE "L14" LEVEL 1;
COMP "segB" LOCATE = SITE "H12" LEVEL 1;
COMP "segC" LOCATE = SITE "N14" LEVEL 1;
COMP "segD" LOCATE = SITE "N11" LEVEL 1;
COMP "segE" LOCATE = SITE "P12" LEVEL 1;
COMP "LD0" LOCATE = SITE "M5" LEVEL 1;
COMP "segF" LOCATE = SITE "L13" LEVEL 1;
COMP "LD1" LOCATE = SITE "M11" LEVEL 1;
COMP "segG" LOCATE = SITE "M12" LEVEL 1;
COMP "LD2" LOCATE = SITE "P7" LEVEL 1;
COMP "LD3" LOCATE = SITE "P6" LEVEL 1;
COMP "CLK" LOCATE = SITE "G12" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

