NET "CLK" LOC = "G12";
NET "Reset" LOC = "A7";
NET "LD0" LOC = "M5";
NET "LD1" LOC = "M11";
NET "LD2" LOC = "P7";
NET "LD3" LOC = "P6";
NET "C_out" LOC = "G1";
NET "segA" LOC = "L14";
NET "segB" LOC = "H12";
NET "segC" LOC = "N14";
NET "segD" LOC = "N11";
NET "segE" LOC = "P12";
NET "segF" LOC = "L13";
NET "segG" LOC = "M12";
NET "AN3" LOC = "K14";
NET "AN2" LOC = "M13";
NET "AN1" LOC = "J12";
NET "AN0" LOC = "F12";
NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;